<!DOCTYPE html>
<html>
  <head>
    <title>SKYbNb</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script>
      var script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=${process.env.API_KEY}`;
      script.defer = true;
      document.head.appendChild(script);
    </script>
    <style type="text/css">
     #map-container {
       height: 80%;
       margin-right: 50px;
     };
    </style>
    <script id="bootstrap-current-user" type="text/javascript">
      <% if logged_in? %>
      	window.currentUser = <%= render("api/users/user.json.jbuilder",
      		user: current_user).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
